.rvts-review-fields {
    display: flex;
    flex-wrap: wrap;

}

.rvts-form-group {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    gap:10px;
    margin-bottom: 15px;
}

.rvts-rating{
    display: flex;
}

.rvts-form-group input:focus-visible , .rvts-form-group textarea:focus-visible{
    outline: none !important;
    box-shadow: none !important;
}

.rvts-sumbit-button button[type="sumbit"]{
    min-width: 100%;
}